body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

button{
  padding: 5px;
  margin-left: 20px;
}

.article{
 width: 20%;
 border: 1px solid green;
 border-radius: 20px;
 padding: 10px;
}